{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="card shadow-lg">
        <div class="card-body p-5">
          <h2 class="card-title text-center mb-4">Welcome Back!</h2>
          <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="d-grid">
              <button type="submit" class="btn btn-primary btn-block mt-4">Login</button>
            </div>
          </form>
          <div class="text-center mt-3">
            <p class="mb-0">if you Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
